* {
  box-sizing: border-box;
}

body {
  font-family: monospace;
}

.container {
  margin: 20px auto;
}

.social-logos {
  width: 25px;
  height: 25px;
}
.flex-d-row-reverse {
  flex-direction: row-reverse;
}
